<div class="auth-wrapper">

  <h2 class="auth-title">Sign Up</h2>
  <p class="auth-subtitle">Please choose your account type:</p>

  <div class="auth-card text-center shadow-sm">

    <%= link_to "I want to be a Donor",
                new_user_registration_path(user_type: "donor"),
                class: "btn btn-option w-100 mb-3" %>

    <%= link_to "I am a Patient",
                new_user_registration_path(user_type: "patient"),
                class: "btn btn-option-outline w-100" %>

  </div>

</div>
