@media (max-width: 400px) {

  body {
    zoom: 0.92;
  }

  .container.my-1 {
    position: relative;
    padding-bottom: 20px !important;
  }

  .card {
    padding: 0.8rem !important;
    border-radius: 12px;
  }

  h4, h5, h6 {
    font-size: 1rem !important;
  }

  .patient-avatar {
    width: 55px !important;
    height: 55px !important;
  }

  .blood-type-bubble {
    width: 48px !important;
    height: 48px !important;
  }

  .circle-icon {
    width: 42px !important;
    height: 42px !important;
    font-size: 1.05rem !important;
  }

  .container {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }

  #messages {
    height: 180px !important;
    margin-bottom: 70px !important;
  }

  .btn {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
  }

  .message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 0px 15px !important;
    margin: 0 !important;
    border-top: 1px solid #dee2e6;
    z-index: 1000;
  }
}
