.navbar-lewagon {
  background-color: white;
  padding: 0.5rem 1rem;

  .navbar-logo {
    height: 65px;
    width: auto;
  }

  .nav-link {
    color: red !important;
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 1rem;

    &:hover {
      color: black !important;
    }
  }

  .navbar-collapse {
    flex-grow: 0;   // DO NOT let collapse take full width
    background-color: white;
    padding: 1rem;
    margin-top: 0.5rem;
    z-index: 2000;
  }

  /* Dropdowns aligned to parent */
  .dropdown-menu {
    min-width: 10rem;   // auto width
    right: auto;
    left: 0;
  }

  /* Notifications badge */
  #notification-count {
    position: absolute;
    top: 0;
    start: 100%;
    transform: translate(-50%, -50%);
  }

  /* Avatar dropdown */
  .dropdown-menu-end {
    right: 0 !important;
    left: auto !important;
  }
}
