// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import 'donations/donations_index';
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css");

body {
  background-color: #FFF1F2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* optional font */
}

button, .btn {
  background-color: #EC1B35; /* default background */
  color: #ffffff; /* text color */
  border: none; /* remove border if needed */
  border-radius: 0.375rem; /* rounded corners */
  padding: 0.5rem 1rem; /* button padding */
  font-size: 1rem;
  transition: all 0.3s ease; /* smooth hover transition */
  cursor: pointer;
}

button:hover, .btn:hover {
  background-color: #ff4d4d; /* slightly lighter or different shade */
  color: #EC1B35;
  transform: scale(1.05); /* slight enlargement on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* subtle shadow */
}
